<div class="pin-header">

  <% if user_signed_in? %>
    <%= link_to 'Click to Add a New Photo', new_pin_path, class: "btn btn-success btn-lg" %>
  <% end %>

</div>

<div id="pins" class="transitions-enabled">

  <% @pins.each do |pin| %>
    <div class="box">
      <%=  %>
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="body">
        <%= pin.description %>
        <strong><%= pin.user.email if pin.user %></strong>
        <br>
        
        <% if pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Delete', pin , method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div><!-- panel -->
    </div><!-- box -->
  <% end %>

</div><!-- pins -->