<div class="back-nav">
	<%= link_to 'Back', pins_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="show-img">
	<%= image_tag @pin.image.url(:medium) %>
	

	<p>
	  <%= @pin.description %><br>
	  <strong><%= @pin.user.name if @pin.user %></strong>
	</p>

	<% if @pin.user == current_user %>
		<%= link_to 'Edit', edit_pin_path(@pin) %> |
	<% end %>

	<%= link_to 'Back', pins_path %>
</div>